/* common */
body {
    background: linear-gradient(150deg, rgba(6, 6, 39, 1) 0%, rgba(36, 27, 105, 1) 50%);
}
.w-border{
    border: 1px solid white;
    border-radius: 50%;
}
.team-member img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50% !important;
    padding: 3px;
    /* position: relative; */
}
.team-member {
    position: relative;
}
.span1 {
    position: absolute;
    width: 187px;
    height: 1px;
    background-color: #ffffff;
    top: 37%;
    left: 13%;
    z-index: -9;
}
/* .span2 {
    position: absolute;
    width: 22px;
    height: 1px;
    background-color: #ffffff;
    top: 37%;
    left: 24.5%;
} */
